@import url('./description/profile__description.css');
@import url('./add-button/profile__add-button.css');
@import url('./edit-button/profile__edit-button.css');
@import url('./info/profile__info.css');
@import url('./title/profile__title.css');
@import url('./image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
  /*Если подгонять под ПЭПЭ, то тут padding: 40px 0; Проявите лоялити*/
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0 20px;
    flex-direction: column;
    text-align: center;
  }
}
