@import url('./description/card__description.css');
@import url('./image/card__image.css');
@import url('./like-button/card__like-button.css');
@import url('./like-count/card__like-count.css');
@import url('./like-button/is-active/card__like-button_is-active.css');
@import url('./control/card__control.css');
@import url('./control-button/card__control-button.css');
@import url('./control-button/type/card__control-button_type_delete.css');
@import url('./control-button/type/card__control-button_type_info.css');
@import url('./title/card__title.css');

.card {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
