@import url('./content/popup__content.css');
@import url('./content/content/popup__content_content_image.css');
@import url('./content/content/popup__content_content_info.css');
@import url('./close/popup__close.css');
@import url('./title/popup__title.css');
@import url('./form/popup__form.css');
@import url('./input/popup__input.css');
@import url('./input/type/popup__input_type_error.css');
@import url('./button/popup__button.css');
@import url('./button/disabled/popup__button_disabled.css');
@import url('./caption/popup__caption.css');
@import url('./image/popup__image.css');
@import url('./label/popup__label.css');
@import url('./error/popup__error.css');
@import url('./text/popup__text.css');
@import url('./error/visible/popup__error_visible.css');
@import url('./info/popup__info.css');
@import url('./info-item/popup__info-item.css');
@import url('./info-description/popup__info-description.css');
@import url('./info-term/popup__info-term.css');
@import url('./list/popup__list.css');
@import url('./list-item/popup__list-item.css');
@import url('./list-item/type/popup__list-item_type_badge.css');


.popup {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*Стили для плавного появления модалки*/
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0.3s, opacity 0.3s;
  z-index: 10;
}
